.testimonial-swiper {
    overflow: hidden;
    position: relative;
    padding: 50px 0;

    & .slide {
        padding: 0;
        color: #000;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .profile {
            display: flex;
            flex-direction: column;
            gap: 16px;

            & .img-wrapper {
                width: 56px;
                height: 56px;
                position: relative;

                & img {
                    border-radius: 50%;
                    position: absolute;
                    inset: 0;
                    height: 100%;
                    object-fit: cover;
                }
            }

            & .profile-name {
                font-weight: 600;
            }

            & .profile-detail {
                font-weight: normal;
            }
        }
    }

    & .pagination {
        display: flex;
        justify-content: center;
        gap: 10px;
        position: absolute;
        top: 95%;
    }
}

@media (prefers-color-scheme: dark) {
    .testimonial-swiper {
        overflow: hidden;
        position: relative;
        padding: 50px 0;

        & .slide {
            background: #171C25;
            padding: 64px 24px;
            color: #fff;
            text-align: center;
            border-radius: 24px;

            & .img-wrapper {
                margin: auto;
            }
        }

        & .pagination {
            
        }
    }
}