header {
    margin: 0 auto;
    padding: 50px 0 0;
    display: flex;
    align-items: center;

     @media (max-width: 991.98px) {
        flex-direction: column;
        gap: 30px;
    }

    .logo-wrapper {
        @media (prefers-color-scheme: dark) {
            img {
                filter: brightness(0) invert(1);
            }
        }
    }

    .header-text-wrapper {

        @media (max-width: 991.98px) {
            justify-content: center !important;
            width: 100% !important;
        }

    }
}