:root {
    --swiper-pagination-color: #000;

    @media (prefers-color-scheme: dark) {
        --swiper-pagination-color: #fff;
    }
}

.value-swiper {
    overflow: hidden;
    position: relative;
    padding: 0 0 50px;

    @media (max-width: 1199.98px) {
        height: 100%;
        padding: 0 0 80px;
    }

    h2 {
        font-size: 18px;
    }

    & .no-swiper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        /* & .slide {
            display: flex;
            background: #F0F3FB;
            padding: 12px;
            border-radius: 12px;
        } */
    }

    & .slide {
        display: flex;
        background: #F0F3FB;
        padding: 12px;
        border-radius: 12px;
        align-items: center;
        gap: 12px;

        @media (max-width: 1199.98px) {
            flex-direction: column;
        }

        & .text-wrapper {
            display: flex;
            flex-direction: column;
            gap: 6px;
            padding: 12px;

            @media (max-width: 1199.98px) {
                padding: 0;
            }
        }

        & .img-wrapper {
            display: flex;

            @media (max-width: 1199.98px) {
                width: 100%;
            }
        }

        & .wert-wrapper {
            background: #000;
            color: #fff;
            text-align: center;
            padding: 20px 24px;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            flex: 0 0 245px;

            @media (max-width: 1199.98px) {
                flex: 0 0 auto;
                width: 100%;
                border-top-right-radius: 0;
                border-bottom-right-radius: 6px;
                border-bottom-left-radius: 6px;
            }

            & > * {
                display: flex;
                gap: 8px;
                flex-direction: column;
            }

            & p:first-child {
                font-size: 20px;
            }

            & p:last-child {
                font-size: 40px;
            }
        }
    }

    .control {
        display: flex;
        align-items: center;
        margin-top: 20px;

        .pagination {
            display: none;

            @media (max-width: 1199.98px) {
                display: flex;
                position: relative;
                inset: 0;
            }

            .pagination-active {
                
            }

        }

        & .navigation {
            display: none;

            @media (max-width: 1199.98px) {
                display: flex;
                gap: 20px;
            }

            &:hover {
                cursor: pointer;
            }

            @media (prefers-color-scheme: dark) {
                svg path {
                    fill: #fff;
                }
            }
            
        }
    }
}

& .button {
    background-color: #FF5722;
    border-radius: 999px;
    padding: 12px 24px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    display: flex;
    margin: auto;
    width: max-content;
    justify-content: center;

    @media (max-width: 1199.98px) {
        margin-left: 0;
    }

    & a {
        color: var(--bs-white);
        text-decoration: none;
    }
}