div[data-hs-island]:has(:first-child) {
    height: 100%;
    position: relative
}

.boxImage {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    inset: 0;
    object-fit: cover;
    object-position: top;

    @media  (max-width: 991.98px) {
        position: relative;
        min-height: 30vh;
    }
}