.text {
    display: flex;
    flex-direction: column;
    gap: 32px;

    & .headline {
        
    }

    & .description {
        font-size: 18px;
    }
}

.button {
    margin-top: 32px;

    & a {
        text-decoration: none;
        border: 1px solid black;
        border-radius: 999px;
        padding: 12px 24px;
        color: black;
        
    }
}