.accordion {
    background-color: #fff;
    padding: 20px 24px;
    border-radius: 12px;
    gap: 24px;
    display: flex;
    flex-direction: column;

    &:hover {
        cursor: pointer;
    }

    @media (prefers-color-scheme: dark) {
        background-color: #171C25;
        color: var(--bs-white);
    }

    & .title {
        display: flex;

        h3 {
            font-size: 1.125rem;
            line-height: 150%;
        }
    }

    & .content {
        display: block
    }

    & .down, & .close {
        display: none;
    }

    &.toggle {
        & .content {
            display: none;

            &.active {
                display: flex;
            }
        }

        & .down, & .close {
            margin-left: auto;
            width: auto;
            transition: all .3s;
            fill: #152E3E;

            @media (prefers-color-scheme: dark) {
                fill: var(--bs-white);
            }
        }

        & .down {
            display: block;
        }

        & .close {
            display: none;
        } 
    }

    &.open {

        & .close {
            display: block;
        } 

        & .down {
            display: none;
        }

        & .content {
            display: block;
        }
    }
}